<ul>
    <li>@Html.ActionLink("Image Rotator", MVC.Jquery.ImageRotator.Index())</li>
    <li>@Html.ActionLink("Image Plusify", MVC.Jquery.ImagePlusify.Index())</li>
    <li>@Html.ActionLink("Multi-Dimension", MVC.Jquery.Effects.MultiDimensions())</li>
    <li>@Html.ActionLink("Stopwatch", MVC.Jquery.Stopwatch.Index())</li>
    @*<li>@Html.ActionLink("Image Randomizer", MVC.Jquery.ImageRandomizer.Index())</li>
    <li>@Html.ActionLink("Image Mover", MVC.Jquery.ImageMover.Index())</li>*@
</ul>