@model IEnumerable<CodeLab.UI.Web.Mvc.Areas.Html5.ViewModels.ServerSentEvent.UserViewModel>

@{
    ViewBag.Title = "Logged User Section for Server Sent Events";
    Layout = "~/Areas/Html5/Views/Shared/_Layout.cshtml";
}

@section IncludeScripts
{
    <script src="@Microsoft.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Include/Cache/ServerSentUser.Scripts")" type="text/javascript"></script>
}

<h2>Logged user section for the server sent examples</h2>

<div id="eventMenu">
    @Html.ActionLink("User", MVC.Html5.User.Index())
    &nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Admin", MVC.Html5.Admin.Index())
</div>

<div id="userInfoList">
    @foreach (var item in Model)
    {
        var cssClass = string.Format("userInfo {0}", item.IsOnline ? "is_online" : "");
        
        <div id="@item.Id.ToString()" class="@cssClass" >
            @item.Name
            <span class="loginTimestamp"></span>
        </div>
    }   
</div>

<script type="text/javascript" >
    var statusChangeEventUrl = "@Url.Action(MVC.Html5.User.StatusChangeEvent())";
</script>
